.gridBody {
    padding: 0 3%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 20px;
    column-gap: 10px;
    height: 90%;
}

.loginBefore {
    font-size: calc(14px + 0.25vw);
    font-weight: 500;
    color: aliceblue;
}

@media screen and (max-width: 700px) {
    .gridBody {
        padding: 0 3%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        column-gap: 10px;
        height: 89%;
    }
    
    .loginBefore {
        font-size: 14px;
        font-weight: 500;
    }
}