.backdrop {
    display: block;
    width: 100%;
}

.siteStatsContainer {
    width: 100%;
    font-size: 12px;
    padding: 0 20px 10px 20px;
    font-weight: 600;
    height: max-content;
    border-radius: 15px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    background: #d4feff;
}

.registeredUsers, .totalPeeps, .totalComments {
    font-size: 12px;
    font-weight: 600;
    color: #463239;
}

.siteStatsTitle {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: #463239;
}

.closeStats {
    display: none;
}

@media screen and (max-width: 700px) {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.05);
    }

    .siteStatsContainer {
        align-self: center;
        justify-self: center;
        background-color: #086375;
        box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.5);
        border: none;
        width: 95%;
    }

    .closeStats {
        display: block;
        float: right;
        background-color: #0a8faa;
        border: none;
        color: aliceblue;
        padding: 8px 23px;
        border-radius: 15px;
        font-weight: 700;
    }

    .registeredUsers, .totalPeeps, .totalComments {
        font-size: 14px;
        font-weight: 700;
        color: aliceblue;
    }
    
    .siteStatsTitle {
        text-align: center;
        font-size: 18px;
        font-weight: 800;
        color: aliceblue;
        padding: 10px 0;
    }
}