.createPost {
    width: 100%;
    height: max-content;
    padding: 10px 5px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    background: #d4feff;
    display: grid;
    grid-template-columns: 50px 1fr;
    border-radius: 15px;
}

.createPost > .you {
    background-color: #5995ED;
    margin: 0 5px;
    border-radius: 50%;
    height: 40px;
    grid-column: 1/2;
    color: aliceblue;
    align-self: start;
    margin-top: 10px;
}

.createPost > form {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5px 0 0;
}

.createPost > form > .textarea {
    grid-column: 1/3;
    height: max-content;
    outline: none;
    color: #463239;
    font-weight: 600;
}

.createPost > form > .textarea:empty::before {
    content: "What's on your mind?";
    color: #46323962;
}

.createPost > form > button {
    width: max-content;
    grid-column: 1/3;
    justify-self: end;
    margin-right: 5px;
    background: #086375;
    color: aliceblue;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 12.5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.createPost > form > button:active {
    color: rgb(199, 205, 211);
}