.clickedThoughtCard {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    padding: 5px 10px 0 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: inset 5px 5px 5px 0 rgba(255, 255, 255, 0), inset 10px 0 10px -10px rgba(255, 255, 255, 0.35), inset -10px 0 10px -10px rgba(255, 255, 255, 0.35), inset 0 10px 10px -10px rgba(255, 255, 255, 0.35);
}

.closeThought {
    font-weight: 600;
    font-size: 12px;
    width: max-content;
    background-color: #DA3E52;
    border: none;
    border-radius: 10px;
    color: white;
    grid-column: 3/3;
    justify-self: end;
    align-self: center;
    grid-row: 1/1;
    padding: 7px 5px;
    height: max-content;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.closeThought:hover {
    background-color: #bb3345;
}

.thisAuthor {
    font-size: 14px;
    font-weight: 700;
    justify-self: start;
    grid-column: 2/2;
    grid-row: 1/1;
    display: flex;
    color: aliceblue;
}

.thisIcon {
    background-color: #5995ED;
    border-radius: 50vw;
    padding: 0.5vw 0.5vw;
    justify-self: center;
    margin-top: 10px;
    color: white;
    grid-row: 1/1;
    grid-column: 1/1;
}

.thisMessage {
    font-size: 14px;
    font-weight: 400;
    grid-row: 2/2;
    grid-column: 2/4;
    justify-self: start;
    padding-bottom: 15px;
    white-space: pre-line;
    color: aliceblue;
    
}

.socialCard {
    width: 100%;
    border-top: none;
    display: grid;
    grid-template-columns: 10% repeat(3, max-content);
    padding: 5px 0 12px 0;

    backdrop-filter: blur(5px);
    box-shadow: inset 5px 5px 15px 0px rgba(255, 255, 255, 0), inset 10px 0 10px -10px rgba(255, 255, 255, 0.35), inset -10px 0 10px -10px rgba(255, 255, 255, 0.35), inset 0 -10px 10px -10px rgba(255, 255, 255, 0.35);
}

.likeThisThought, .unlikeThisThought {
    grid-column: 2/2;
    font-size: 12px;
    padding: 3px 8px;
    font-weight: 600;
    background: linear-gradient(0turn, rgb(70, 228, 70), #5995ED, #5995ED);
    background-size: 100% 200%;
    background-position: 0 0;
    transition: all 0.5s;
    border: none;
    border-radius: 5px;
    color: white;
    width: max-content;
    grid-row: 1/1;
}

.likeThisThought:hover, .unlikeThisThought:hover {
    background-position: 0 80%;
}

.unlikeThisThought {
    background: linear-gradient(0turn, #5995ED, #DA3E52, #DA3E52);
    background-size: 100% 200%;
    background-position: 0 0;
    transition: all 0.5s;
}

.likeThisTotal {
    font-size: 10px;
    font-weight: 500;
    grid-row: 1/1;
    grid-column: 3/3;
    padding: 0 5px 0 5px;
    color: aliceblue;
}

.likeThisThought:active {
    color: rgb(180, 180, 180);
}

.commentsThisTotal {
    font-size: 10px;
    font-weight: 500;
    grid-row: 1/1;
    grid-column: 4/4;
    border-left: 1px solid black;
    padding-left: 5px;
    color: aliceblue;
}

.emptyThis {
    border-right: 1px solid black;
    width: 100%;
    grid-row: 1/1;
    grid-column: 1/1;
}

.commentSectionCard {
    width: 99.9%;
    padding: 10px 0;
    border-top: none;
    display: grid;
    row-gap: 5px;
}

.noComments {
    font-size: 14px;
    padding: 10px 0;
    font-weight: 500;
    color: aliceblue;
}

.commentsContainer {
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.commentsContainer::-webkit-scrollbar {
    display: none;
}


.timeCreated {
    font-size: 10px;
    font-weight: 500;
    align-self: center;
    color: aliceblue;
}

@media screen and (max-width: 340px) {
    .clickedThoughtCard {
        grid-template-columns: 16% 70% 14%;
    }
    .thisIcon {
        padding: 5px 5px;
    }
    .thisMessage {
        font-size: 12px;
    }
    .likeThisThought, .unlikeThisThought {
        font-size: 14px;
        padding: 3px 7px;
    }
    .likeThisTotal {
        font-size: 11px;
    }
    .commentsThisTotal {
        font-size: 11px;
    }
    .socialCard {
        grid-template-columns: 15% repeat(3, max-content);
    }
}

@media screen and (min-width: 341px) and (max-width: 380px) {
    .clickedThoughtCard {
        grid-template-columns: 16% 70% 14%;
    }
    .thisIcon {
        padding: 5px 5px;
    }
    .thisMessage {
        font-size: 12px;
    }
    .likeThisThought, .unlikeThisThought {
        font-size: 14px;
        padding: 3px 7px;
    }
    .likeThisTotal {
        font-size: 11px;
    }
    .commentsThisTotal {
        font-size: 11px;
    }
    .socialCard {
        grid-template-columns: 15% repeat(3, max-content);
    }
}

@media screen and (min-width: 381px) and (max-width: 450px) {
    .clickedThoughtCard {
        grid-template-columns: 16% 70% 14%;
    }
    .thisIcon {
        padding: 5px 5px;
    }
    .thisMessage {
        font-size: 12px;
    }
    .likeThisThought, .unlikeThisThought {
        font-size: 14px;
        padding: 3px 7px;
    }
    .likeThisTotal {
        font-size: 11px;
    }
    .commentsThisTotal {
        font-size: 11px;
    }
    .socialCard {
        grid-template-columns: 15% repeat(3, max-content);
    }
}

